* {
    font-family: sans-serif;
}

.caption {
    text-align: center;
    border: 2px solid #66cdaa;
    background: #afeeee;
    padding: 10px;
}

.panel-content {
    border: 2px solid #66cdaa;
    border-top: none;
    padding: 10px;
}

.link {
    padding: 5px;
    border: none;
    color: #000000;
    font-size: 13px;
    background: #afeeee;
    text-decoration: none;
    position: relative;
    top: 10px;
    margin-bottom: 5px;
}

ol {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

li {
    padding: 5px;
    padding-left: 10px;
}

.box-wrapper {
    border: 2px solid #66cdaa;
    border-top: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.box {
    flex-basis: 16%;
    display: inline-block;
    border: 1px solid #66cdaa;
}

h3 {
    color: #ffffff;
    background: #66cdaa;
    padding: 8px;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
}

li input {
    float: right;
}

.today {
    flex-basis: 25%;
    border-color: #20B2AA;
    background: #D4F5E8;
}

.today .head {
    background: #20B2AA;
}