* {
    font-family: sans-serif;
}

.caption {
    text-align: center;
    border: 2px solid #66cdaa;
    background: #afeeee;
    padding: 10px;
}

.panel {
    /*width: 75%;*/
}

.panel-content {
    border: 2px solid #66cdaa;
    border-top: none;
    padding: 10px;
}

.panel table {
    width: 100%;
    border-spacing: 0;
}

.panel th {
    color: #ffffff;
    background: #66cdaa;
    padding: 8px;
}

.panel td {
    padding: 8px;
}

.panel input[type="text"] {
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 2px;
    width: auto;
    font-size: 12px;
    margin-right: 5px;
}

.panel input[type="image"] {
    width: 15px;
    height: 15px;
}

.checkist td input {
    float: left;
    margin: 0 auto;
    width: 100%;
}

.checkist {
    width: auto;
}

.link {
    padding: 5px;
    border: none;
    color: #000000;
    font-size: 13px;
    background: #afeeee;
    text-decoration: none;
    position: relative;
    top: 10px;
    margin-bottom: 5px;
}

ol {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

li {
    padding: 5px;
    padding-left: 10px;
}

.box-wrapper {
    border: 2px solid #66cdaa;
    border-top: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.box {
    flex-basis: 13%;
    display: inline-block;
    border: 1px solid #66cdaa;
}

.head {
    color: #ffffff;
    background: #66cdaa;
    padding: 8px;
    padding-left: 5px;
}

li input {
    float: right;
}

.today {
    border-color: #20B2AA;
    background: #D4F5E8;
}

.today .head {
    background: #20B2AA;
}